/* 
    font-family: 'Noto Nastaliq Urdu', serif;

    font-family: 'Noto Sans Avestan', sans-serif;

    font-family: 'Noto Sans Miao', sans-serif;

    font-family: 'Noto Sans Zanabazar Square', sans-serif;

    font-family: 'Noto Serif Sinhala', serif;

    font-family: 'Source Code Pro', monospace;

    font-family: 'Tangerine', cursive;
 */

body{
    /* background-color: lightslategray;     */
    background-color: black;    
    color: white;
}

.text{
    text-align: center;
}

.line{
    margin: auto;
    background-color: white;
    width: 50%;
    height: 3px;
}

.subtitle-text{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

.paragraph{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.ancient-caligraphy{
    font-family: 'Noto Sans Miao', sans-serif;
}

.friendly-caligraphy{
    font-family: 'Tangerine', cursive;
}

.header-image{
    display: grid;
    align-content: center;
    margin: auto;
}

.page-title{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 50px;
}

.div-footer{
    position: sticky;
    height: 100px;
    align-items: bottom;
    background-color: dimgray;
}

.iframe-video{
    align-items: center;
    margin: auto;
    border: solid 4px greenyellow;
}

.teste-fonte
{
    font-size: 5;
    text-align: justify;
    font-family: 'Noto Nastaliq Urdu', serif;
    color: red;
}
